/* Custom page CSS
-------------------------------------------------- */

code {
	font-size: 80%;
}

.back-button {
	margin-top: 23px;
}

#ad-form {
	margin-top: 10px;
}

#make-offer-form {
	margin-top: 10px;
}

#offer-response-form {
	margin-top: 10px;
}

.label-20 {
	font-size: 20px;
}

.description-box {
    resize: none;
}

.market-link, .market-link:visited, .market-link:active {
	text-decoration: none;
	color: black;
}	

.market-link:hover {
	text-decoration: none;
	color: #373737;
}

button a, button a:visited, button a:hover, button a:active {
	text-decoration: none;
	color: inherit;
}

#category_list {
	font-size: 1.1rem;
}

#subcategory_list {
	font-size: 1.1rem;
}

#market-menu {
	font-size: 1.2rem;
}

#market_background {

}

#left-header {
	color: #EEB328;
}

#right-header {
	color: #208A6E;
}

.wide-button {
	width: 100%;
	margin-bottom: 5px;
}

@media (max-width: 599px) {

}
@media (min-width: 600px) and (max-width: 699px) {

}
@media (min-width: 700px) and (max-width: 800px) {

}