/* Custom page CSS
-------------------------------------------------- */

@font-face {
    font-family: apple;
    src: url('../fonts/HomemadeApple.ttf');
}

h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

code {
	font-size: 80%;
}

.back-button {
	margin-top: 23px;
}

#ad-form {
	margin-top: 10px;
}

#make-offer-form {
	margin-top: 10px;
}

#offer-response-form {
	margin-top: 10px;
}

.label-20 {
	font-size: 20px;
}

.description-box {
    resize: none;
}

.market-link, .market-link:visited, .market-link:active {
	text-decoration: none;
	color: black;
}	

.market-link:hover {
	text-decoration: none;
	color: #373737;
}

button a, button a:visited, button a:hover, button a:active {
	text-decoration: none;
	color: inherit;
}

#category_list {
	font-size: 1.1rem;
}

#subcategory_list {
	font-size: 1.1rem;
}

#market-menu {
	font-size: 1.2rem;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	position: fixed;
}

#market_background {

}

#left-header {
	color: #EEB328;
	font-weight: 100;
	letter-spacing: 3px;
	bottom: -5%;
}

#right-header {
	letter-spacing: 2px;
	color: #4CBD95;
	font-style: italic;
	font-weight: 200;
}

.wide-button {
	width: 100%;
	margin-bottom: 5px;
}

.ad_display {
	color: #333;
}

.ad_display:hover {
	background-color: rgba(183, 183, 183, 0.2);
}

.container-border {
	border: 1px solid #333;
	border-top: none;
	background-color: rgba(238, 179, 40, 0.5);
	padding-top: 10px;
}

@media (max-width: 599px) {

}
@media (min-width: 600px) and (max-width: 699px) {

}
@media (min-width: 700px) and (max-width: 800px) {

}